.container{
    width:50%;
    height:250px;
    margin:0 auto;
    margin-bottom:50px;
}

.pic_container{
    width:40%;
    height:100%;
    float:left;
}
.content_container{
    float: left;
    width:50%;
    text-align: left;
    padding:20px 20px;

}
.content{
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}
.upload_date{
    font-size: 20px;
    font-weight: bold;
    color:rgb(129, 129, 129)

}

.pic_container>img{
    width:100%;
    height:100%;
    border-radius: 40px;
}